<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container" *ngFor="let s of scheduleArray">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle> {{s.projects.nameProject}}</ion-card-subtitle>
        <ion-card-title>{{s.rooms.nameRoom}}</ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <ion-card-title>{{s.date}}</ion-card-title>
        <ion-card-title>{{s.hourRange}}</ion-card-title>
        <ion-card-title>{{s.note}}</ion-card-title>
        <ion-button color="primary" (click)="deleteSchedule(s.id)">Delete</ion-button>
        <ion-button color="primary" (click)="goUpdate()">Update</ion-button>
      </ion-card-content>
    </ion-card>
 
  </div>

  



    <button class="button" type="submit">Create</button>



  <ion-button color="primary" (click)="goCreate()">+</ion-button>


</ion-content>