<ion-header>

    <ion-toolbar id="navbar">
        <ion-menu-button id="home-menu-container">
            <ion-icon id="header-icon" src="assets/projects-color-icon.svg"></ion-icon>
            <h2 id="header-text">Proyecto</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="calendar/{{id}}">
                <ion-icon class="tabs-icons" name="calendar"></ion-icon>


            </ion-tab-button>

            <ion-tab-button tab="members/{{id}}">
                <ion-icon class="tabs-icons" name="people"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="works/{{id}}">
                <ion-icon class="tabs-icons" name="document"></ion-icon>

            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>