<ion-content has-header>
    <div id="container" *ngFor="let directorProject of directorProjectArray">
        <hr class="card-separation">
        <ion-card>
            <ion-card-header>
                <ion-icon class="member-icon" src="assets/director.svg"></ion-icon>
                <h5 class="name-text"> {{directorProject.directors.nameDirector}}</h5>
                <h6 class="title-text">{{directorProject.directors.titleDirector}}</h6>
            </ion-card-header>
        </ion-card>
        <hr class="card-separation">
    </div>

    <div id="container" *ngFor="let soloistProject of soloistProjectArray">
        <ion-card>
            <ion-card-header>
                <ion-icon class="member-icon" src="assets/solist.svg"></ion-icon>
                <h5 class="name-text">{{soloistProject.soloists.nameSoloist}}</h5>
                <h6 class="title-text">{{soloistProject.soloists.titleSoloist}}</h6>
            </ion-card-header>
        </ion-card>
        <hr class="card-separation">
    </div>
</ion-content>