<ion-content has-header>

  <div id="container" *ngFor="let directorProject of directorProjectArray">

    <ion-card>
      <ion-card-header>

        <ion-row>


          <ion-icon class="perfomance-icon" src="assets/director.svg"></ion-icon>
          <h5 class="name-text"> {{directorProject.directors.nameDirector}}</h5>
          <h6 class="title-text"><b>{{directorProject.directors.titleDirector}}</b></h6>
        </ion-row>
      </ion-card-header>
    </ion-card>

    <div id="container" *ngFor="let soloistProject of soloistProjectArray">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-icon class="perfomance-icon" src="assets/solist.svg"></ion-icon>
            <h5 class="name-text">{{soloistProject.soloists.nameSoloist}}</h5>
            <h6 class="title-text"><b>{{soloistProject.soloists.titleSoloist}}</b></h6>

          </ion-row>
        </ion-card-header>
      </ion-card>

    </div>


    <hr id="end-line">

  </div>





</ion-content>