
  <ion-header>

    <ion-toolbar id="navbar">
      <ion-menu-button id="home-menu-container">
        <ion-icon id="home-icon" src="assets/home-music.svg"></ion-icon>
        <h2 id="home-text">Inicio</h2>
      </ion-menu-button>
    </ion-toolbar>
  </ion-header>


<ion-content class='has-header has-subheader'>
  <!-- <div class="text-center" id=#square> -->

  <ion-grid id="square">
    <ion-row>
      <ion-icon class="perfomance-icon" src="assets/director.svg"></ion-icon>
      <h2 class="event-type-text">Actuaciones</h2>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="performance-card">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>

    <ion-row id="essays">
      <ion-icon class="essay-icon" id="#essay-icon" src="assets/musical-essay.svg"></ion-icon>
      <h2 class="event-type-text">Ensayos</h2>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card class="essay-card">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>

  </ion-grid>
  <!-- </div> -->


  <!-- <ion-button (click)="calendarGo()">Calendar</ion-button>
  <ion-button (click)="testsGo()">Tests</ion-button> -->
</ion-content>