<ion-header>

    <ion-toolbar id="navbar">
        <ion-menu-button id="home-menu-container">
            <ion-icon id="header-icon" src="assets/projects-color-icon.svg"></ion-icon>
            <h2 id="header-text">Proyectos</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="project_id">
        Proyecto id
      </label>
            <input id="project-id" type="text" formControlName="project_id">
        </div>

        <div>
            <label for="type_schedules_id">
        Tipo de evento id
      </label>
            <input id="type-schedules-id" type="text" formControlName="type_schedules_id">
        </div>

        <div>
            <label for="rooms_id">
        Id de la sala
      </label>
            <input id="rooms-id" type="text" formControlName="rooms_id">
        </div>

        <div>
            <label for="date">
        Fecha
      </label>
            <input id="date" type="text" formControlName="date">
        </div>


        <div>
            <label for="hourRange">
        Hora
      </label>
            <input id="hourRange" type="text" formControlName="hourRange">
        </div>

        <div class="text-center">
            <label for="note">
        Notas
      </label>
            <input id="note" type="text" formControlName="note">
        </div>
        <button id="update-button" class="button" type="submit">Actualizar</button>
    </form>
</ion-content>