@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
ion-header {
    height: 65px;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
}

ion-card {
    border-radius: 0px;
    box-shadow: 0 0 5px #F7C2C2;
    background-color: #FEFAFE;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

ion-card-title,
ion-card-subtitle,
ion-card-content {
    font-family: 'Outfit', sans-serif;
    color: #464040;
}

ion-card-header {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-card-title {
    font-size: 24px;
}

.name-text {
    margin-left: 10px;
    text-align: left;
    float: left;
}

.title-text {
    text-align: right;
    float: right;
    font-weight: bold;
}

.member-icon {
    font-size: 2.8em;
    float: left;
}

.card-separation {
    background-color: #F39FA0;
}