@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 55px;
    color: #464040;
    margin-bottom: 2px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #464040;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
}

ion-card {
    border-radius: 0px;
    background-color: var(--ion-color-light);
    font-family: 'Outfit', sans-serif;
    border: 2px solid var(--ion-color-danger-tint);
}

ion-card-title,
ion-card-subtitle,
ion-card-content {
    font-family: 'Outfit', sans-serif;
    color: var(--ion-color-dark);
}

#season-text {
    margin-left: 50px;
}

#separation-title {
    width: 300px;
    background-color: #eec84d;
    height: 2px;
    width: 80px;
    margin-bottom: 25px;
}