<ion-header>

    <ion-toolbar id="navbar">
        <ion-menu-button id="home-menu-container">
            <ion-icon id="home-icon" src="assets/home8.svg"></ion-icon>
            <h2 id="home-text">Inicio</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content class='has-header has-subheader'>
    <!-- <div class="text-center" id=#square> -->

    <ion-grid id="square">
        <ion-row>
            <ion-icon class="perfomance-icon" src="assets/director.svg"></ion-icon>
            <h2 class="event-type-text"><b>Actuaciones</b></h2>

        </ion-row>

        <ion-row>
            <ion-slides>
                <ng-container *ngFor="let perfomance of scheduleArray">

                    <ion-slide *ngIf="perfomance.typeschedules.nameType=='Concierto'">
                        <ion-card class="performance-card" routerLink="/tabs/calendar/{{perfomance.projects.id}}">

                            <ion-card-header>
                                <ion-card-title>{{perfomance.projects.nameProject}}</ion-card-title>
                                <ion-card-subtitle>{{perfomance.date}}</ion-card-subtitle>
                                <ion-card-subtitle>{{perfomance.hourRange}}</ion-card-subtitle>
                                <hr id=" separation-in-card ">
                            </ion-card-header>

                            <ion-card-content>
                                <h1>{{perfomance.projects.orchestrationProject}}</h1>
                                <h1>{{perfomance.note}}</h1>
                            </ion-card-content>

                        </ion-card>
                    </ion-slide>

                </ng-container>

            </ion-slides>
        </ion-row>

        <ion-row id="essays-row">
            <ion-icon class="essay-icon " id="#essay-icon " src="assets/musical-essay.svg "></ion-icon>
            <h2 class="event-type-text "><b>Ensayos</b></h2>
        </ion-row>

        <ion-row>

            <ion-slides>
                <ng-container *ngFor="let essay of scheduleArray">


                    <ion-slide *ngIf="essay.typeschedules.nameType=='Ensayo AM' || essay.typeschedules.nameType=='Ensayo PM' || essay.typeschedules.nameType=='Ensayo General'">
                        <ion-card class=" essay-card " routerLink="/tabs/calendar/{{essay.projects.id}} ">
                            <ion-card-header>
                                <ion-card-title>{{essay.projects.nameProject}}</ion-card-title>
                                <ion-card-subtitle>{{essay.date}}</ion-card-subtitle>
                                <ion-card-subtitle>{{essay.hourRange}}</ion-card-subtitle>
                                <hr id="separation-in-card ">
                            </ion-card-header>
                            <ion-card-content>
                                <h1>{{essay.projects.orchestrationProject}}</h1>
                                <h1>{{essay.note}}</h1>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>