@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
}

#home-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

#home-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #464040;
}

#square {
    margin: 15px;
    background-color: #FEFAFE;
    box-shadow: 0 0 1px rgb(177, 2, 148);
    padding-bottom: 30px;
}

ion-slide {
    height: auto !important;
    height: 100%;
    box-shadow: 0 0 10px rgb(177, 2, 148);
}

ion-slides {
    height: auto !important;
}

.performance-card {
    margin: 0;
    box-shadow: 0 0 1px rgb(177, 2, 148);
    border-width: 0px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    max-height: 250px !important;
    background-color: #b419cf17;
    border-radius: 0;
    width: 300px;
}

.essay-card {
    margin: 0;
    box-shadow: 0 0 1px rgb(248, 161, 0);
    border-width: 0px;
    border-color: rgb(110, 102, 104);
    border-style: solid;
    max-height: 250px !important;
    background-color: #f8bf0438;
    border-radius: 0;
    min-width: 250px;
    width: 300px;
    float: left;
}

.perfomance-icon {
    vertical-align: middle;
    font-size: 2.5em;
    margin-top: 20px;
}

.essay-icon {
    vertical-align: middle;
    font-size: 3em;
    margin-top: 15px;
}

.event-type-text {
    vertical-align: bottom;
    display: inline-block;
    color: #464040;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 25px;
    font-family: 'Outfit', sans-serif;
}

#essays-row {
    margin-top: 20px;
}

#date-text {
    text-align: right;
}

#separation-in-card {
    background-color: #000000;
}

#separation-title {
    background-color: #000000;
}