@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #464040;
    margin-bottom: 2px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #464040;
    //  font-family: 'Outfit', sans-serif;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
    background-color: #FEFAFE;
}

#square {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    //margin-top: 3px !important;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 4px;
}

#login-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
    display: block;
    border-radius: 8px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 60px;
    background-color: white;
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
}

h1,
h2,
h3 {
    font-family: 'Outfit', sans-serif;
}

#welcome-text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

input {
    border-right: none !important;
    border-left: none !important;
    margin-left: 10px;
    height: 2.2em;
    margin-top: 5.3px;
    width: 230px;
}

.email-password-text {
    font-size: 1.8em;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.musical-note-icon {
    font-size: 3em;
}

#remember-me {
    vertical-align: middle;
    text-align: center !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#forgot-password-text {
    text-align: center;
    margin-top: 15px;
    color: #0099FF;
}

#forgot-password-text:hover {
    font-weight: bold;
    text-decoration: underline;
}

#register-text {
    color: #0099FF;
}

#register-text:hover {
    font-weight: bold;
    text-decoration: underline;
}