<ion-header>

  <ion-toolbar id="navbar">
    <ion-menu-button id="home-menu-container">
      <ion-icon id="header-icon" src="assets/login-icon.svg"></ion-icon>
      <h2 id="header-text">Iniciar sesión</h2>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <div id="square">
    <h1 id="welcome-text">¡BIENVENIDX DE NUEVO!</h1>


    <h1 class="email-password-text">Email:</h1>
    <ion-row>
      <ion-icon class="musical-note-icon" src="assets/musical-note.svg"></ion-icon>
      <input>
    </ion-row>
    <h1 class="email-password-text">Contraseña:</h1>
    <ion-row>
      <ion-icon class="musical-note-icon" src="assets/musical-note.svg"></ion-icon>
      <input>
    </ion-row>
    <ion-row id="remember-me">
      <ion-checkbox class="checkbox-square" mode="md">
        </ion-checkbox>
      <h1>Recuérdame</h1>

    </ion-row>

    <h3 id="forgot-password-text">¿Olvidaste la contraseña?</h3>
    <button id="login-button" class="button" type="submit">ENTRAR</button>
    </div>
    <ion-row>
      
      <h2>¿No te has registrado? </h2>
      <h2 id="register-text"routerLink="/register">Regístrate</h2>
    </ion-row>
  </ion-grid>

</ion-content>