
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar/{{id}}">
        <ion-icon name="schedule"></ion-icon>
        <ion-label>Calendario</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="members/{{id}}">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Integrantes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="works/{{id}}" >
        <ion-icon name="map"></ion-icon>
        <ion-label>Obras</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

  
