<ion-content has-header>

    <div id="container" *ngFor="let s of scheduleArray">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{s.typeschedules.nameType}}</ion-card-title>
                <hr id="separation-title">


            </ion-card-header>

            <ion-card-content>
                <h1><b>>Sala:</b> {{s.rooms.nameRoom}}</h1>

                <h1><b>>Fecha:</b> {{s.date}}</h1>

                <h1><b>>Hora:</b> {{s.hourRange}}</h1>

                <h1><b>>Notas: </b>{{s.note}}
                    <ion-icon name="trash" id="delete-button" (click)="deleteSchedule(s.id)">
                    </ion-icon>
                    <ion-icon name="create" id="update-button" [routerLink]="['/update/', s.id]"></ion-icon>
                </h1>



            </ion-card-content>
        </ion-card>

    </div>

    <ion-icon name="add-circle" id="create-button" routerLink="/create"></ion-icon>


</ion-content>