#navbar{
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
  }
  
  
  
  
  #header-icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    color: #464040;
  

   }
  
  
  
  #header-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
  color: #464040;
    //  font-family: 'Outfit', sans-serif;
     
   }