<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="project_id">
        Id del proyecto
      </label>
      <input id="project-id" type="text" formControlName="project_id">
    </div>

    <div>
      <label for="type_schedules_id">
        Id del tipo de evento
      </label>
      <input id="type-schedules-id" type="text" formControlName="type_schedules_id">
    </div>

    <div>
      <label for="room_id">
        Id de la sala
      </label>
      <input id="room-id" type="text" formControlName="room_id">
    </div>

    <div>
      <label for="date">
        Fecha
      </label>
      <input id="date" type="text" formControlName="date">
    </div>


    <div>
      <label for="hourRange">
        Hora
      </label>
      <input id="hourRange" type="text" formControlName="hourRange">
    </div>

    <div>
      <label for="note">
        Notas
      </label>
      <input id="note" type="text" formControlName="note">
    </div>

    <button class="button" type="submit">Purchase</button>
  </form>
</ion-content>

