@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 55px;
    color: #464040;
    margin-bottom: 2px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #464040;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
}

input,
label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    font-weight: bold;
    background-color: #7fd3fa;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 1px #fa7f98;
    text-align: center;
}

label {
    font-weight: bold !important;
    margin-top: 20px;
    margin-left: 20px;
}

input:hover {
    background-color: #aa7ca0;
}

#update-button {
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: block;
    border-radius: 8px;
    border-width: 1px;
    border-color: #FF6B89;
    border-style: solid;
    background-color: white;
    font-size: 1.5em;
    font-family: 'Outfit', sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 1px black;
}