<ion-content [fullscreen]="true">



  <div id="container" *ngFor="let p of projectsArray">
    <h2><b>{{p.startDateProject}} - {{p.endDateProject}}</b></h2>
   
    <ion-card routerLink="/tabs/calendar/{{p.id}}">
      <ion-card-header>
        <ion-card-title>{{p.nameProject}}</ion-card-title>
        <ion-card-subtitle> </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-card-title>{{p.orchestrationProject}}</ion-card-title>
        <ion-card-subtitle> {{p.seasons.NameSeason}}</ion-card-subtitle>
    
      </ion-card-content>
    </ion-card>
    <hr id="separation-title">
  </div>

  <!-- <div>{{p.seasons_id}}</div> -->




</ion-content>