@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
#navbar {
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    border-style: solid;
    height: 76px;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    color: #464040;
    margin-bottom: 2px;
}

#header-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #464040;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    border-width: 0px 1px 1px 1px;
    border-color: rgb(110,
    102,
    102);
    border-style: solid;
    background-color: #FEFAFE;
}

#square {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 4px;
}

h1,
h2,
h3 {
    font-family: 'Outfit', sans-serif;
}

#welcome-text {
    text-align: center;
    margin-top: 25px;
}

.musical-note-icon {
    font-size: 3em;
}

.label {
    font-size: 1.8em;
    margin-left: 10px;

  text-align: center;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 0px;
}

input {
    border-right: none !important;
    border-left: none !important;
    margin-left: 10px;
    height: 2.2em;
    margin-top: 5.3px;
    width: 230px;
}

#email-fields{
    margin-top: 10%;
}


#password-fields{
    margin-top: 15%;

}

#login-button {
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    margin-top: 20%;
    display: block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-family: 'Outfit', sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 1px black;
    border-radius: 4px;
    margin-bottom: 10%;
}

// ion-checkbox {
//     display: inline-block;
//     text-align: center;
//     margin-bottom: 10px;
//     margin-left: auto;
//     margin-right: auto;
//     vertical-align: middle;
// }
// #remember-me-text {
//     display: inline-block;
//     text-align: center;
//     font-size: 1.3em;
//     vertical-align: middle;
// }
#forgot-password-text {
    color: #0099FF;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#are-you-not-registered-text {
    text-align: center;
}

#register-text {
    text-align: center;
    color: #0099FF;
    margin: 0;
}

#register-text:hover {
    font-weight: bold;
    text-decoration: underline;
}