<ion-header>

    <ion-toolbar id="navbar">
        <ion-menu-button id="home-menu-container">
            <ion-icon id="header-icon" src="assets/login-icon.svg"></ion-icon>
            <h2 id="header-text">Iniciar sesión</h2>
        </ion-menu-button>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <div id="square">
            <h1 id="welcome-text">¡BIENVENIDX DE NUEVO!</h1>

            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                <ion-item id="email-fields">
                    <ion-label class="label" position="floating" for="project_id">Email</ion-label>

                    <ion-row>
                        <ion-icon class="musical-note-icon" src="assets/musical-note.svg"></ion-icon>
                        <ion-input name="email" type="email" placeholder="your@email.com" formControlName="email"
                            required></ion-input>
                      

                    </ion-row>
                    <span slot="error" *ngIf="loginForm.controls['email'].errors?.required && loginForm.controls['email']?.touched">Rellene el email</span>
                    <span slot="error" *ngIf="loginForm.controls['email'].errors?.pattern">El email no es válido.</span>
                
                </ion-item>
                <ion-item id="password-fields">
                    <ion-label class="label" position="floating" for="project_id">Contraseña</ion-label>
                    <ion-row>
                        <ion-icon class="musical-note-icon" src="assets/musical-note.svg"></ion-icon>
                        <ion-input name="password" type="password" placeholder="Password" formControlName="password"
                            required></ion-input>
                            
                    </ion-row>
                    <span slot="error" *ngIf="loginForm.controls['password'].errors?.required && loginForm.controls['password']?.touched">Rellene la contraseña</span>
       
                </ion-item>


                <!-- <ion-checkbox id="remember-me-checkbox" class="checkbox-square" mode="md">
            </ion-checkbox>
            <label for="remember-me-checkbox" id="remember-me-text">Recuérdame</label> -->



                <h3 id="forgot-password-text">¿Olvidaste la contraseña?</h3>
                <button type="submit" id="login-button" class="button" type="submit">ENTRAR</button>
            </form>


        </div>
        <div>
            <h2 id="are-you-not-registered-text">¿No te has registrado? </h2>
            <h2 id="register-text" routerLink="/register">Regístrate</h2>
        </div>

    </ion-grid>

</ion-content>