<ion-header>

  <ion-toolbar id="navbar">
    <ion-menu-button id="home-menu-container">
      <ion-icon id="header-icon" src="assets/login-icon.svg"></ion-icon>
      <h2 id="header-text">Registrarse</h2>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="square">
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
      <ion-item>
        <ion-label position="floating" for="project_id">
          Nombre
        </ion-label>
        <ion-input id="project-id" type="text" formControlName="name" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.required">
        Email is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.email.errors?.pattern">
        Enter valid email.
      </span>

      <ion-item>
        <ion-label position="floating" for="project_id">
          Email
        </ion-label>
        <ion-input name="email" type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" for="project_id">
          Contraseña
        </ion-label>
        <ion-input name="password" type="password" formControlName="password" required></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="floating" for="project_id">
          Repita la contraseña
        </ion-label>
        <ion-input name="confirmPassword" type="password" formControlName="confirmPassword" required>
        </ion-input>
      </ion-item>
      <button id="register-button" type="submit" class="button" type="submit">REGISTRARSE</button>
    </form>
  </div>

</ion-content>