<ion-header>

  <ion-toolbar id="navbar">
    <ion-menu-button id="home-menu-container">
      <ion-icon id="header-icon" src="assets/login-icon.svg"></ion-icon>
      <h2 id="header-text">Registrarse</h2>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="square">
    <form #form="ngForm" (ngSubmit)="register(form)">
    <div>
      <label for="project_id">
        Nombre
      </label>
      <input id="project-id" type="text" >
    </div>

    <div>
      <label for="project_id">
        Email
      </label>
      <input id="project-id" type="text" >
    </div>
    <div>
      <label for="project_id">
        Contraseña
      </label>
      <input id="project-id" type="text" >
    </div>
    <button id="register-button" type="submit" class="button" type="submit">REGISTRARSE</button>
  </form>
  </div>

</ion-content>
